body {
    width: 100%;
    background-color: grey;
}

.container {
    width: 800px;
    height: 800px;
    background: rgb(206, 221, 221);
    margin: 0 auto;
    font-family: 'Saira', sans-serif;
    color: black;
}

.container>h1 {
    padding: 0 10px;
    font-size: 24px;
    font-variant: small-caps;
    color: rgb(238, 5, 207);
}

img {
    width: 200px;
    height: 150px;
    padding: 0;
    margin: 0;
}